
<nav>
  <ul>
    <li id="to-right">
      <a href="/auth/signup">Create a account</a>
    </li>
    <li id="to-right">
      <a href="/">Home</a>
    </li>
  </ul>
</nav>

<form action="/auth/login" method="POST">
  <label>
   
    <input type="text" name="username"  placeholder=" Username"/>
  </label>
  <label>
   
    <input type="password" name="password" placeholder=" Password" />
  </label>
  <button type="submit">LOG IN</button>
</form>


<% if(locals.errorMessage != null) {%><%= errorMessage %><%}%>

