
<<<<<<< HEAD
<nav>
  <ul>
    <li id="to-right">
      <a href="/auth/signup">Create a account</a>
    </li>
    <li id="to-right">
      <a href="/">Home</a>
    </li>
  </ul>
</nav>
=======
>>>>>>> 22e7e0d (Go one folder up)

<form action="/auth/login" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>
<<<<<<< HEAD
  <button type="submit">LOG IN</button>
</form>

<% if(locals.errorMessage != null) {%><%= errorMessage %><%}%>
=======
  <button type="submit">Submit</button>
</form>

<%# if (errorMessage) { %> <%#= errorMessage %> <%# } %>

>>>>>>> 22e7e0d (Go one folder up)
