

<html lang="en">

  <head>
    
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
  </head>

    <body>
     
    <nav>
      <ul>
        <li id="to-right">
          <a href="/auth/logout">Log Out</a>
        </li>
        <li id="to-right">
          <a href="/">Home</a>
        </li>
        <li id="to-right">
          <a href="/movies/lists">Find your movie</a>
        </li>
        <li id="to-right">
          <a href="/movies/popular">Popular movies</a>
        </li>
      </ul>
    </nav>
    

<div class="profiletext">
 
  <h1>Welcome <%=user.username%></h1>
  
</div>


</body>

</html>






