<<<<<<< HEAD

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    

  </head>

    <body>
     
    <nav>
      <ul>
        <li id="to-right">
          <a href="/auth/logout">Log Out</a>
        </li>
        <li id="to-right">
          <a href="/">Home</a>
        </li>
        <li id="to-right">
          <a href="/movies/lists">Find a movie</a>
        </li>
      </ul>
    </nav>
  

<div class="profiletext"><h1>Welcome <%=user.username%></h1> </div>


</body>

</html>

