
<<<<<<< HEAD
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  
<body>

  <nav>
    <ul>
      <li id="to-right">
        <a href="/">Home</a>
      </li>
      <li id="to-right">
        <a href="/auth/login">Log in</a>
      </li>
    </ul>
  </nav>

=======
>>>>>>> 22e7e0d (Go one folder up)
<form action="/auth/signup" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>
<<<<<<< HEAD
<button type="submit">Create your account</button>
</form>
</div>

</body>

<% if(locals.errorMessage != null) {%>

  <%= errorMessage %>
  
  <%}%>
  
  </html>

=======

  <button type="submit">Submit</button>
</form>
</div>

  <%# if (errorMessage) { %> <%#= errorMessage %> <%# } %>
>>>>>>> 22e7e0d (Go one folder up)
