

<form action="/movies/lists/search" method="get">
    
    <label for="sch"></label>
    
    <input type="search" name="search" id="sch" placeholder="search">
    <button  type="submit" >Look</button>
   <%#onclick="window.location='/lists/search'"  %> 
    <a href="/movies/lists/search">search</a>

</form>

 

<% for( let i = 0; i < listAPI.length; i++ ) { %>
    
    <% if (listAPI[i].backdrop_path === null) { %>
      
        <p></p>
    
        <% } else { %>
       
            <p> <img src=<%= `https://image.tmdb.org/t/p/w500/${listAPI[i].backdrop_path}`%>> </p> 
    <% } %>
    
   
    <p><a href="/movies/lists/<%= listAPI[i].id %> "><%= listAPI[i].title %>  </a></p>
    
    
    <p><%= listAPI[i].overview %> </p

        <% } %>

