
<link rel="stylesheet" href="/stylesheets/movie.css" />

<nav>
    <ul>
      <li id="to-right">
        <a href="/auth/logout">Log Out</a>
      </li>
      <li id="to-right">
        <a href="/">Home</a>
      </li>
      <li id="to-right">
        <a href="/movies/popular">Popular movies</a>
      </li>

    </ul>
  </nav>

<form action="/movies/lists/search" method="get">
    
    <div class="wrap">
        <div class="search">
            
           <input class="searchTerm" type="search" name="search" id="sch" placeholder="search" required>
           <button  type="submit"class="searchButton" ><span class="material-symbols-outlined">search</span></button>
           
        </div>
     </div>
     

</form>

<section>
<% for( let i = 0; i < listAPI.length; i++ ) { %>
    
    <% if (listAPI[i].backdrop_path === null) { %>
      
        <p></p>
    
        <% } else { %>
       
 <div> <a href="/movies/lists/<%= listAPI[i].id %> "><%= listAPI[i].title %>  </a></div>
 <div class="textmovielist"> <h4><%= listAPI[i].overview %> </h4> </div>
  <div class="movie-title"><img id= "listimage" src=<%= `https://image.tmdb.org/t/p/w500/${listAPI[i].backdrop_path}`%>>  </div>
    <% } %>

        <% } %>
</section>
