<% for( let i = 0; i < popular.length; i++ ) { %>
    
    <% if (popular[i].backdrop_path === null) { %>
      
        <p></p>
    
        <% } else { %>
       
            <p> <img src=<%= `https://image.tmdb.org/t/p/w500/${popular[i].backdrop_path}`%>> </p> 
    <% } %>
    
   
    <p><a href="/movies/lists/<%= popular[i].id %> "><%= popular[i].title %>  </a></p>
    
    
    <p><%= popular[i].overview %> </p

        <% } %>
