

<link rel="stylesheet" href="/stylesheets/movie.css" />

 <nav>
    <ul>
      <li id="to-right">
        <a href="/auth/logout">Log Out</a>
      </li>
      <li id="to-right">
        <a href="/">Home</a>
      </li>
      <li id="to-right">
        <a href="/movies/lists">Find your movie</a>
      </li>
      <li id="to-right">
        <a href="/movies/popular">Popular movies</a>
      </li>
    </ul>
  </nav>

<div class="new">
<% for( let i = 0; i < data.length; i++ ) { %>
    
    <% if (data[i].backdrop_path === null) { %>
      
        <p></p>
    
        <% } else { %>

  <div class="movie-title"> <h1><a href="/movies/lists/<%= data[i].id %> "><%= data[i].title %> </a></h1> </div>    

  <div class="movie-title"><img id="listimage" src=<%= `https://image.tmdb.org/t/p/w500/${data[i].backdrop_path}`%>> </div>

  <div> <p> <%= data[i].overview %> </p></div>

    <% } %>

        <% } %>

</div>