

<link rel="stylesheet" href="/stylesheets/movie.css" />
 <nav>
    <ul>
      <li id="to-right">
        <a href="/auth/logout">Log Out</a>
      </li>
      <li id="to-right">
        <a href="/">Home</a>
      </li>
      <li id="to-right">
        <a href="/movies/lists">Find your movie</a>
      </li>
      <li id="to-right">
        <a href="/movies/popular">Popular movies</a>
      </li>
    </ul>
  </nav>

  <div class="new">

<% for( let i = 0; i < similar.length; i++ ) { %>
    
    <% if (similar[i].backdrop_path === null) { %>
      
        <p></p>
    
        <% } else { %>
        <h2 class="movie-title"><a href="/movies/lists/<%= similar[i].id %> "><%= similar[i].title %></a></h2>
        <div class= "movie-title"><img id="listimage" src=<%= `https://image.tmdb.org/t/p/w500/${similar[i].backdrop_path}`%>>  </div>
    <% } %>
    
    <p class="movie-title"><%= similar[i].overview %> </p>
    
        <% } %>

      </div>